In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data = pd.read_csv(r"C:\Users\Abhi\OneDrive\Desktop\car\car_prize\car data.csv")

In [3]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

# Preparing data

Here car name will not make impact in our model.

In [6]:
data = data.drop('Car_Name',axis = 1)

In [7]:
data.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [8]:
data.Fuel_Type.unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [9]:
data.Seller_Type.unique()

array(['Dealer', 'Individual'], dtype=object)

In [10]:
data.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [11]:
data.Owner.unique()

array([0, 1, 3], dtype=int64)

In [12]:
from datetime import date
todays_date = date.today()
data['current_year'] = todays_date.year

In [13]:
data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2021
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2021
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2021
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2021
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2021

In [15]:
data['no. of years'] = data.current_year - data.Year

In [16]:
data.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year,no. of years
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2021,7
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2021,8
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2021,4
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2021,10
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2021,7

In [17]:
data = data.drop('Year',axis = 1)

In [18]:
data.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,current_year,no. of years
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,2021,7
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,2021,8
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,2021,4
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,2021,10
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,2021,7

In [21]:
data = data.drop('current_year',axis = 1)

In [22]:
data.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,no. of years
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,7
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,8
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,4
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,10
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,7

In [23]:
data = pd.get_dummies(data,drop_first=True)

In [24]:
data.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no. of years,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,7,0,1,0,1
1,4.75,9.54,43000,0,8,1,0,0,1
2,7.25,9.85,6900,0,4,0,1,0,1
3,2.85,4.15,5200,0,10,0,1,0,1
4,4.60,6.87,42450,0,7,1,0,0,1

In [25]:
data = data[['Present_Price','Kms_Driven','Owner','no. of years','Fuel_Type_Diesel','Fuel_Type_Petrol','Seller_Type_Individual','Transmission_Manual','Selling_Price']]

In [26]:
data.head()

,Present_Price,Kms_Driven,Owner,no. of years,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,Selling_Price
0,5.59,27000,0,7,0,1,0,1,3.35
1,9.54,43000,0,8,1,0,0,1,4.75
2,9.85,6900,0,4,0,1,0,1,7.25
3,4.15,5200,0,10,0,1,0,1,2.85
4,6.87,42450,0,7,1,0,0,1,4.60

In [27]:
x = data.iloc[:,:-1].values

In [28]:
y = data.iloc[:,-1].values

# Train-Test Split

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

# Model Training

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
rf = RandomForestRegressor()

Here for selecting best performance for our model we have to select parameter value according to that so we have to do hyperparameter tuning.

In [33]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]

In [50]:
max_depth = [int(x) for x in np.linspace(5, 20, num = 6)]

In [42]:
min_samples_split = [5, 10, 15, 20]

In [49]:
min_samples_leaf = [1, 2, 5]

In [51]:
random_grid = {'n_estimators': n_estimators,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}
print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000], 'max_depth': [5, 8, 11, 14, 17, 20], 'min_samples_split': [5, 10, 15, 20], 'min_samples_leaf': [1, 2, 5]}

In [38]:
from sklearn.model_selection import RandomizedSearchCV

In [52]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, random_state=0,)

In [53]:
rf_random.fit(x_train,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(),
                   param_distributions={'max_depth': [5, 8, 11, 14, 17, 20],
                                        'min_samples_leaf': [1, 2, 5],
                                        'min_samples_split': [5, 10, 15, 20],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000]},
                   random_state=0, scoring='neg_mean_squared_error')

In [54]:
rf_random.best_params_

{'n_estimators': 600,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_depth': 11}

In [55]:
rf_random.best_score_

-2.4050101690097514

In [56]:
predictions=rf_random.predict(x_test)

In [57]:
from sklearn import metrics

In [58]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 0.7165364514742995
MSE: 4.56971095751973
RMSE: 2.137688227389516

In [59]:
import pickle

file = open('car_prize_for_car_data.pkl', 'wb')

# dump information to that file
pickle.dump(rf_random, file)